/*Нормализуем CSS
Добавьте на страницу видео. Как источник используйте файл example.mp4. Используйте тег source
Установите постером картинку poster.jpg
Задайте ширину 500px
Разместите видео по центру и добавьте отступ сверху 200px
Добавьте контролы, чтобы можно было воспроизвести видео*/


.main-video{
    max-width: 100%;
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 200px;
    display: block;
}