<<<<<<< HEAD
.header{
    height: 40px;
    background-color: yellow;
    display: flex;
    align-items: center;
}
.footer{
    height:40px;
    background-color: green;
    display:flex;
}
.navigation{
    margin:0;
    display: flex;
    list-style-type: none;
}
.navigation_item{
    margin-right: 10px;
}
.footer_text {
    margin: auto;
}
.page { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content{
    flex-grow: 1;
    display:flex;
}
.dashboard{
    display:flex;
    flex-grow:1;
    background-color: pink;
    justify-content:center;
    align-items: center;
}
.news{
    width: 200px;
    background-color: grey;
=======
* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header {
    display: flex;
    height: 40px;
    background-color: yellow;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.footer {
    display: flex;
    height: 40px;
    background-color: green;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100%;
    display: flex;
}

.main-aside {
    display: flex;
    width: 200px;
    align-items: center;
    flex-direction: column;
    background-color: gray;
>>>>>>> b3909f1540fb33f7232fb86124df8e521f1c287a
}