@import 'variables.scss';

.header{
    background-color: $color-grey;

}
.nav-list{
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
    height: $unit * 7;

}