*{
    box-sizing: border-box;
}
.container{
    display:flex;

}
.block{
    height: 300px;


}
.block_red{
    background-color: red;
    flex-grow: 2;
}
.block_green{
    background-color: green;
    flex-grow: 2;

}
.block_blue{
    background-color: blue;
    flex-grow: 2;
}
.block_yellow{
    background-color: yellow;
    flex-grow: 2;
}
.block_black{
    background-color: black;
    flex-grow: 2;
}