.theory::first-letter {
    margin-left: 16px;
    font-size: 36px;
    color: orange;
}

.theory::first-line {
    font-size: 24px;
}

.theory::selection {
    color: white;
    background-color: red;
}

a::before {
    content: ">";
}

a::after {
    content: "<";
}