* {
    box-sizing: border-box;
}

.checkbox {
    margin: 16px;
    padding-left: 35px;
    font-size: 24px;
    cursor: pointer;
    display: block;
    position: relative;
}

.checkbox input {
    height: 0;
    width: 0;
    visibility: hidden;
}

.checkmark {
    height: 25px;
    width: 25px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d3d3d3;
}

.checkbox input:checked + .checkmark {
    background-color: #006400;
}