*{
    box-sizing: border-box;
}
.row{
    display: flex;
}
.small-bird{
    width: 64px;
    height: 64px;
}
.large-bird{
    width: 320px;
    height: 320px;
}
.column{
    flex-direction: column;
    display: flex;
    align-items: center;
    flex: 1;
}