@import 'breakpoints.scss';

* {
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    

    &__item-first{
        display: flex;
        flex-grow: 1;
        min-height: 200px;
        background-color: #ff7f50;
    }
    &__item-second{
        display: flex;
        flex-grow: 1;
        min-height: 200px;
        background-color: #006400;
    }
    &__item-third{
        display: flex;
        flex-grow: 1;
        min-height: 200px;
        background-color: #0ff;
    }


    .text{
        margin: auto;
        text-transform: lowercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 8px;
        background-color: #faebd7;
        border-radius: 4px;
    }
}

@include for-medium {
    .content__items{
        display: flex;
        flex-grow: 2;
    }
}

@include for-large-up {
    .container{
        display: flex;
        flex-direction: row;
    }
}